# Auto detect text files and perform LF normalization
* text=auto

# Force the following filetypes to have unix line endings
*.dart text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.md text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf

# Denote all files that are truly binary and should not be modified
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.ttf binary
*.otf binary
*.woff binary
*.woff2 binary
*.eot binary
*.ico binary

# Android specific
*.gradle text eol=lf
gradlew.bat text eol=crlf

# iOS specific
*.pbxproj merge=union
*.storyboard text eol=lf
*.xib text eol=lf
*.swift text eol=lf
*.h text eol=lf
*.m text eol=lf