# Auto detect text files and perform LF normalization
* text=auto

# Dart specific
*.dart linguist-language=Dart

# Flutter specific
*.yaml linguist-language=YAML

# Native code files
*.h linguist-language=C++
*.cc linguist-language=C++
*.cpp linguist-language=C++
*.c linguist-language=C
*.java linguist-language=Java
*.kt linguist-language=Kotlin
*.swift linguist-language=Swift
*.m linguist-language=Objective-C

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.flv binary
*.fla binary
*.swf binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary
*.eot binary
*.woff binary
*.woff2 binary
*.pyc binary
*.pdf binary

# Documents
*.md text diff=markdown
*.adoc text
*.textile text
*.tex text diff=tex

# Scripts
*.bash text eol=lf
*.fish text eol=lf
*.sh text eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

# Serialization
*.json text
*.toml text
*.xml text
*.yaml text
*.yml text